body {
    background-image: url(../img/world-map-1600.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-size: contain;
    background-image: url(../img/brown-blank-old-paper2.jpg);
    background-attachment: scroll;
}

