$pFont: 'EB Garamond',
serif;
$h1Font: 'Smythe',
cursive;
$h1Size: 4rem;
$h2Size: 3rem;
$h3Size: 5rem;

h1 {
    color: $fontColor;
    font-family: $h1Font;
    font-size: $h1Size;
}


h2 {
    color: black;
    font-size: x-large;
    font-family: $h1Font;
    font-size: $h2Size;
}

h3{
    font-size: $h3Size;
}

p {
    color: $fontColor;
}