$padding: 2rem;

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border: solid #000000 2px;
    content-visibility: auto;

    form {
        margin: 20px;
    }

    .formulario__grupo {
        position: relative;
        margin: 1rem;

    }

    .formulario__titulo {
        text-align: center;
    }

    .formulario__password--resaltado {
        background-color: #F24D2C;
    }

    .formulario__boton {
        background: linear-gradient(to right, #fcff9e 0%, #c67700 51%, #fcff9e 100%);
        display: block;
        width: 100%;
        border: none;
        color: #000000;
        border-radius: 10px;
        margin: 10px auto;
        padding: 5px;
    }

    label {
        font-family: $h1Font;
        font-size: $padding/2+0.5;
        color: $fontColor;
    }

    legend {
        font-family: $h1Font;
        font-size: $padding/2+0.5;
        color: $fontColor;
    }

    input,
    textarea {
        background: none;
        font-size: 1rem;
        padding: 10px 10px 10px 5px;
        color: #330a0a;
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid black;
        resize: none;
    }

    input:focus,
    textarea:focus {
        outline: none;
        color: #0e0a0acc;
    }

    input:focus~.barra::before,
    textarea:focus~.barra::before {
        width: 100%;
    }

    .barra {
        position: relative;
        display: block;
        width: 100%;
    }

    .barra::before {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #fcff9e 0%, #c67700 51%, #fcff9e 100%);
        transition: 0.5s ease all;
        left: 0%;
    }

    #estado {
        background: none;
    }
    .formulario__coments{
        border: 1px solid #000000;
        border-radius: 10px;
    }
}