/* MIXINS*/
@mixin galeria($margin) {
    border: solid antiquewhite 5px;
    border-radius: 40px;
    margin: $margin;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin galeria1($margin1) {
    display: flex;
    margin: $margin1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.galeria {
    .galeria__imagen {
        margin: 0 auto;
    
    .carousel-item img{
    border: solid antiquewhite 5px;
    border-radius: 40px;
}}


    .galeria__musica__musica {
        @include galeria1(20px);

        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        margin-bottom: 20px;
        

        .respo {
            @include galeria(0px);

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    .galeria__video__videos {
        @include galeria1(5px);

        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        margin-bottom: 20px;
        
        .respo{
            @include galeria(0px);
            
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
         }}

    .galeria__titulo {
        text-align: center;
    }
}