@media screen and (max-width: 600px) {
    body {
      background-image: url(/img/kale-salad.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
    }}
  
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url(/img/vintage-pattern-wallpaper-texture-5.jpg);
      background-attachment: fixed;
    }
  
  p {
    color: $fontColor;
  }
  
    address {
      color: $fontColor;
    }
  }
  @media screen and (max-width: 720px) {
    .nosotrosGrid {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(6, auto);
      grid-template-areas: "titulo"
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis";
  gap: 10px;
  justify-items: center;
  align-items: center;
      grid-gap: 2px;
    }
  }  