.logoTienda{
    display: flex;
    justify-content: center;
  }
  
  #logoBarber {
    display: flex;
  }
  
  .header__linkTop {
    color: $fontColor;
    padding: 20px;
  }
.bienvenidos{
  text-align: center;
}