* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/world-map-1600.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container{
  background-size: contain ;
  background-image: url(/img/brown-blank-old-paper2.jpg);
  background-attachment: scroll;
}

.redes {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;

}

.login{
  padding: 1rem;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.wp {
  grid-area: wp;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}

.tituloPrincipal{
  padding: 1rem;
  font-weight: bold;
}

h1 {
  color: #000000;
  font-family: 'Smythe', cursive;
  font-size: 3rem;
}
pre {
  font-family: 'EB Garamond', serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.2rem;
}
.nosotrosGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "titulo titulo"
    "uno cinco"
    "dos tres"
    "cuatro wp";
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.equipo {
  padding: 20px;
  font-family: 'EB Garamond', serif;
  width: 100%;
}

.uno .dos .tres .cuatro .cinco {
  grid-area: uno;
}

.titulo {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-content: center;
}

.comentarios p {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 10px;
}
.comentarios {
  margin: 2px;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
}

.canillitaTitulo{
  display: flex;
  align-items: baseline;
}
.coment1 .coment2 .coment3 .coment4 {
  width: fit-content;
  padding: 10px;
  border: rgb(0, 0, 0) outset 5px;
  margin: 5px;
}

ul li {
  font-family: "smythe";
  list-style: none;
  display: inline-block;
  font-size: x-large;
  padding: 5px;
}

ul ul {
  display: none;
  position: absolute;
}

ul ul li {
  list-style: none;
  display: block;
  width: 110px;
}
ul li:hover > ul {
  display: block;
  background-color: #b99037;
}

li a.active {
  background-color: #928362;
  color: #000000;
}

.logo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: rgb(95, 95, 95);
}
a:hover {
  color: #000000;
}


.barraFooter {
  background-image: linear-gradient(
    to right,
    #fcff9e 0%,
    #c67700 51%,
    #fcff9e 100%
  );
  transition: 0.7s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px #eee;
  display: block;
  font-family: "Smythe", cursive;
  font-size: 1.5rem;
  width: 100%;
}

.barraFooter:hover{
  background-position: right center;
  color: #fff;
}

.ceras img {
  position: relative;
  width: 330px;
  height: 330px;
  padding: 10px;
}

.productosCol1{
  display: flex;
  justify-content: center;
  flex-direction: column;
align-items: center;
}

.productosCol2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.canillita{
  width: 10rem;
}
address {
  color: rgb(0, 0, 0);
  font-family: "Smythe", cursive;
  font-size: 1.5rem;
  margin-left: 10px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: x-large;
  font-family: "Smythe", cursive;
  font-size: 3rem;
}

label {
  font-family: "smythe";
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

legend {
  font-family: "smythe";
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}


.about {
  font-family: 'EB Garamond', serif;
  color: rgb(0, 0, 0);
  line-height: 1.5rem;
}

.btn-grad {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 20px;
  background-image: linear-gradient(
    to right,
    #fcff9e 0%,
    #c67700 51%,
    #fcff9e 100%
  );
  padding: 10px 10px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.tablaTienda {
  border-style: double;
  border-spacing: 1px;
  color: aliceblue;
  font-family: 'EB Garamond', serif;
}

.tablaTienda img {
opacity: 0.5;
transition: all 2s;
}

.tablaTienda img:hover{
opacity: 1;
height: 300px;
width: auto;
}

.headerTienda {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  color: black;
  padding: 5px;
}

th {
  padding: 5px;
}

.prod{
  display: flex;
  justify-content: center;
}

.contenedor{
  width: 800px;
  margin: 0 auto;
}
.tienda .prod{
  padding: 10px;
}

.card{
  border-radius: 40px;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 10px;
  
}

.card-title{
  text-align: center;
}

.card-text{
  text-align: center;
}

.card-body button{
  width: 100%;
}

.imagen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagen img {
  border-radius: 50px;
  margin: 10px;
  border: solid 10px antiquewhite;
  align-items: center;
  opacity: 0.4;
  transition: all 2s;
  flex-wrap: wrap;
}
.imagen img:hover {
  opacity: 1;
  height: 50%;
  width: 50%;
  border-radius: 0px;
}

.musica {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.musica iframe {
  border-radius: 40px;
  margin: 10px;
  border: solid antiquewhite 5px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.videos {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.videos iframe {
  border: antiquewhite 5px solid;
  border-radius: 40px;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
table td {
  padding: 30px;
  border-style: solid;
  margin: 10px;
}

ol li {
  list-style-type: lower-greek;
}
form {
  margin: 20px;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-19 17:21:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 1.5s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-right 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/*
@media only screen and (max-width: 600px) {
  body {
    background-image: url(/img/kale-salad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
  .tituloPrincipal {
    font-size: 2rem;
  }
  p {
    color: #000000;
  }
  address {
    color: #000000;
  }
}

@media only screen and (min-width: 601px) {
  body {
    background-image: url(/img/vintage-pattern-wallpaper-texture-5-780x1178.jpg);
    background-attachment: fixed;
  }
  p {
    color: #000000;
  }
  address {
    color: #000000;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url(/img/wood\ _texture532.jpg);
    background-attachment: fixed;
  }
  p {
    color: antiquewhite;
  }
  address {
    color: antiquewhite;
  }
}
*/
